body {
  padding-bottom: 2rem;
    background-color: #333;
    color: white;

}

.jumbotron{
  width: 100%;
  height: 50%; 
  top:0;
  left:0;
    background-image: url("../images/stars.jpg");
}

.row{
    border-style: solid;
    border-color: white;
    border-spacing: 4px;
    padding: 10px;
}
.col{
    padding-top: 5px;
    padding-bottom: 5px;
}