/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-bottom: 2rem;
    background-color: black;
    color: white;

}
.jumbotron{
  width: 100%;
  height: 50%; 
  top:0;
  left:0;
  background-image: url("../images/stars.jpg");
}

.jumbotron input{
  color: black;
}
h1.display-3{
    color: white!important;
}

.jumbotron p{
    color: white!imporant;
}

.aboutBanner{
  background-image: url("../images/starry-night.jpg"); 
  height: 20rem;
  width: 100%;
  padding-top: 2.5rem;
  text-align: center;

}

.aboutBanner .btn{
  margin-right: 2rem;
}
.container {
  padding-bottom: 3rem;
}
