body {
  padding-bottom: 2rem;
    background-color: black;
    color: white;

}
.jumbotron{
  width: 100%;
  height: 50%; 
  top:0;
  left:0;
  background-image: url("../images/stars.jpg");
}

h1.display-3{
    color: white!important;
}

.jumbotron p{
    color: white!imporant;
}

.readableBG{
	width:80%;
	background-color: white;
	z-index: 10;
}